* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body{
    background-color: rgb(0, 0, 0);
  }


  .btn  {
    all: unset;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-weight:bold ;
  padding: 20px 10px;
  border-radius: 6px;
  transition: 0.3s;
  background-color: #ffffff;
 }
   .btn:hover{
  background-color: transparent;
}

 
    
  .header {
    font-size: 35px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
    
  #array {
    background-color: rgb(0, 0, 0);
    height: 305px;
    width: 598px;
    margin: auto;
    position: relative;
    margin-top: 130px;
  }
   label {
    color: white;
  }
    
  .block {
    width: 28px;
    background-color: #04A5AA;
    position: absolute;
    width: 100 px;
    
    bottom: 0px;
    transition: 0.2s all ease;
  }
    
  .block_id {
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: -20px;
    width: 100%;
    text-align: center;
  }